
<nav class="menu">
		
	<a href="/">
    <div class="wrap">
           
        <p>Home</p>
            
    </div>
    </a>
    <a href="/about">
        <div class="wrap">
           
            <p>About</p>
            
        </div>
    </a>
	<a id="sign_in" href="#">
		<div class="wrap">

			<p id="sign_in_text">Sign in</p>

		</div>
	</a>
	<a href="/other">
		<div class="wrap">

			<p>Other</p>

		</div>
	</a>
</nav>


		

