<div class="msg unvisible">
	
	<div class="message unvisible">
		<div class="message-box">
			<p class="message_text"></p>
		</div>
		<div class="button-box">
			<input class="message_button" type="button" value="OK"/>
		</div>
	</div>
		
    <div class="authorisation unvisible">
        <p>Login</p>
        <input id="input_name_aut" type="text"/>
        <p>Password</p>
        <input id="input_pass_aut" type="password"/>
        <p><a id="to_reg" href="#">registration</a></p>
        <input id="input_submit_aut" type="button" value="Sing In"/>
    </div>

    <div class="registration unvisible">
        <p>Login</p>
        <input id="input_name" type="text"/>
        <p>Email</p>
        <input id="input_email" type="email"/>
        <p>Age</p>
        <input id="input_age" type="number"/>
        <p>Gender</p>
        <div class="gender">
            <input id="input_gender_m" type='radio' name='gender' checked="true"/>
            <label for="input_gender_m">Male</label>
            <input id="input_gender_f" type='radio' name='gender'/>
            <label for="input_gender_f">Female</label>
        </div>
        <p>Password</p>
        <input id="input_pass" type="password"/>
        <p>Repeat Password</p>
        <input id="input_check_pass" type="password"/>
        <p><a id="back_to_aut" href="#">back</a></p>
        <input id="input_submit" type="button" value="Sing Up"/>
    </div>
</div>