


body {
    background-image: url("../../img/about_back.jpg");
    background-size: 100% 100%;
}


.main {
    position relative;
    margin: 10px auto;
    width: 80vw;
    height: 500px;
    background: rgb(100, 10, 100);
    border: 2px solid red;
}

#quad {
    position: absolute;
    width: 200px;
    height: 200px;
    background: rgb(0 106 255);
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 20px;
    border-radius: 50%;
}